
a,.tp-caption a.btn:hover {
    text-decoration: underline;
	color: #242c64;
}
.top-nav-collapse {
	background: #242c64;
}

.navbar-custom a {
    text-decoration: none;
	color: #242c64;
}
.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #0f7cc1;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #0f7cc1;
}

.widget-avatar .avatar:hover {
    border: 5px solid #0f7cc1;
}

.bg-skin {
	background: #242c64;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #0f7cc1;
}

header {
    background-color: #242c64;
}

footer {
    background-color: #242c64;
}

.btn-skin {
  color: #fff;
  background-color: #242c64;
  border-color: #242c64;
}


/* dark blue: Hex 242c64, RGB 36,44,100
   light blue: Hex 0f7cc1, RGB 15,124,193  */

/* OLD LOGO
   dark blue: Hex 081647,  RGB 8,22,71
   light blue: Hex 005a90,  RGB 0,90,144  */

